<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tdt4250case -->
      <package
            uri="platform:/plugin/tdt4250case/model/tdt4250case.ecore"
            class="tdt4250case.Tdt4250casePackage"
            genModel="model/tdt4250case.genmodel"/>
   </extension>

</plugin>
